@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}

.navbar-hero {
  background-color: #060019;
  color: white;
}

.textForEvents {
  background-color: red;
}

.containimg {
  width: 45px;
  max-width: 45px;
  object-fit: cover;
}
.containimg svg {
  vertical-align: middle; /* or vertical-align: top; */
}

.b_shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}

.custom-gradient {
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(89, 89, 89, 0.756827731092437) 74%, rgba(255, 255, 255, 0) 100%);
}


@media screen and (max-width: 780px) {
  .member_background {
    background-image: linear-gradient(90deg, #009dd6, #00cbd6);
  }
}
